<configuration>
  <appender name="gelf" class="biz.paluch.logging.gelf.logback.GelfLogbackAppender">
    <host>udp:graylog.mcltd.cn</host>
    <port>12201</port>
    <version>1.1</version>
    <originHost>trie-demo</originHost>
    <facility>logback</facility>
    <extractStackTrace>true</extractStackTrace>
    <filterStackTrace>true</filterStackTrace>
    <mdcProfiling>true</mdcProfiling>
    <maximumMessageSize>8192</maximumMessageSize>

    <!-- These are fields using MDC -->
    <dynamicMdcFields>mdc.*,(mdc|MDC)fields</dynamicMdcFields>
    <includeFullMdc>true</includeFullMdc>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
  </appender>

  <root level="DEBUG">
    <appender-ref ref="gelf"/>
  </root>
</configuration>